.section-main{
    margin-top: 76px;
    overflow-x: hidden;
}
.card {
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    margin: 1.9rem 0;
    border-radius: 6px;
    background: #fff;
    position: relative;

    &.card-stats{
        padding: 5px 8px;
    }

    & .card-header-icon  {
        text-align: right;
 
        &.card-header-warning > .card-icon {
            background: linear-gradient(60deg,#ffa726,#fb8c00);
            padding: 25px !important;
        }

        &.card-header-rose > .card-icon {
            background: linear-gradient(60deg,#ec407a,#d81b60);
            padding: 25px !important;
        }

        &.card-header-success > .card-icon{
            background: linear-gradient(60deg,#66bb6a,#43a047);
            padding: 25px !important;
        }

        
        &.card-header-info > .card-icon{
            background: linear-gradient(60deg,#26c6da,#00acc1);
            padding: 25px !important;
        }
    }



    & .card-header {
        margin: 0 12px;
        padding: 0;
        position: relative;
        border-bottom: none; 
        background: transparent;

         & .card-stats-title { 

             & h4{
                 font-size: 1rem;
                 color: #fff;
             }
         } 

        & .card-icon {
            border-radius: 3px;
            padding: 15px;
            margin-top: -20px;
            margin-right: 15px;
            float: left;
            box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(156,39,176,.4);
            background: linear-gradient(60deg,#ab47bc,#8e24aa);
            color: #fff;
        }

        & .card-category {
            color: #999;
            font-size: 1rem;
            margin: 0;
            padding-top: 10px;
        }

        & h3.card-title {
            margin: 0;
            color: #3c4858;
            font-size: 1.5625rem;
        }

        & .card-title {
            margin-top: 15px;
            color: #3c4858;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 1.4em;
        }                     

        & .btn-right {
            margin: 8px 18px;
            padding: 9px 17px;    
            border-radius: 30px;  
            color: #fff;
            background-color: #e91e63;
            border-color: #e91e63;
            box-shadow: 0 2px 2px 0 rgba(233,30,99,.14), 0 3px 1px -2px rgba(233,30,99,.2), 0 1px 5px 0 rgba(233,30,99,.12);
            transition: box-shadow 0.2s ease-in 0s;

            &:hover {
                box-shadow:0 16px 38px -12px   rgba(233,30,99,.56), 0 4px 25px 0px rgba(233,30,99,.12), 
                0 8px 10px -5px rgba(233,30,99,.2);
            }
        }


    }

    & .card-footer {
        border-top: 1px solid #eee;
        margin-top: 20px;
        padding-top: 10px;
        border-radius: 0;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;

        & .stats {
            color: #9c27b0;
            font-size: 1rem;
            line-height: 1.6;

            & a {
                text-decoration: none;
                color: #9c27b0;
            }
        }
    }
}


.card-left {
    overflow: hidden;
    height: 90vh;
    border-radius: 0 !important;
    border-right: 2px solid white;

    @include respond(phone) {
        height: 50vh;
        border: none;
    }

    & .img-left {
        object-fit: cover;
        max-width: 100%;
        height: 100%;
        border: 1px solid white;

        @include respond(phone) {
            border: none;
            height: 100%; 
            width: 100%;
            object-fit: cover;
        }
    }

    & .description {
        position: absolute;
        bottom: 0; 
        left: 0;
        padding: 25px 25px;
        background: rgba(0,0,0,.74); 
        width: 100%;
        text-align: center;
        word-wrap: none;

        @include respond(phone) {
            padding: 10px 50px;
            width: 100%;
            word-wrap: none;
        }

        & a {
            font-size: 1.2rem;
            color: #fff;
            line-height: 1.6;
            text-decoration: none;
            font-weight: 400;

            &:hover{
                text-decoration: underline;
            }

            @include respond(phone) {
                font-size: 1rem;
                line-height: 1.4;
            }
        }
    }
}

.card-right{
    overflow: hidden;
    border-radius: 0 !important;
    border-left: 1px solid white;

    @include respond(phone) {
        border: none;
    }

    & .img-right {
        height: 45vh;
        min-height: 100%;
        min-width: 100%;
        // border: none !important;
        border: 1px solid white;
    }

    & .description {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px 14px;
        background: rgba(0,0,0,.74); 
        width: 100%;

        @include respond(phone) {
            padding: 10px 50px;
            width: 100%;
            word-wrap: none;
        }

        & a {
            font-size: 1.2rem;
            color: #fff;
            line-height: 1.6;
            text-decoration: none;
            font-weight: 400;

            &:hover{
                text-decoration: underline;
            }

            @include respond(phone) {
                font-size: 1rem;
                line-height: 1.4;
            }
        }
    }
}


