.page-category{
    margin-top: 76px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.5);

    & .category-description {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        & > h1 {
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 700;
            color: #ffffff;
            letter-spacing: 1px;

            @include respond(phone) {
                font-size: 1.5rem;
            }
        }
    } 
} 

.result-bx h1{
    font-size: 1.2rem;
}